
  /* FOOTER START */

  .arrow-img {
    display: none;
    margin-bottom: 12px;
    height: 20px;
    width: 20px;
  }

  .country-img {
    height: 15px;
    width: 15px;
  }

  .phone-img {
    height: 15px;
    width: 15px;
    filter: brightness(0) saturate(100%) invert(64%) sepia(6%) saturate(574%) hue-rotate(201deg) brightness(94%) contrast(90%);
  }

  .social-img {
    height: 25px;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(64%) sepia(6%) saturate(574%) hue-rotate(201deg) brightness(94%) contrast(90%);
  }

  .social-img:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(670%) hue-rotate(158deg) brightness(92%) contrast(89%);
  }

  .footer-info {
    font: 15px pf_highway_sans_pro;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    /* min-width: 320px !important; */
    flex: 1;
    /* max-width: 240px; */
  }

  .footer-info-a-tag {
    text-decoration: none; 
    color: #646587;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
  }

  .footer-container {
    margin-top: 90px;
    background-color: #fafafa;
    overflow: hidden;
  }

  .footer-fluid {
    margin-right: 30px;
    margin-left: 30px;
    width: auto;
  }

  .footer-row, .body-row, .highlight-row, .filter-row {
    width: 100%;
    margin: 0 auto;
    color: #444545;
    max-width: 1216px;
    font: normal 16px 'Roboto', sans-serif;
    gap: 24px;
    padding: 16px 0 16px 0px;
  }

  .footer-row, .highlight-row {
    display: flex;
  }

  .footer-left-column {
    justify-content: space-between;
    padding: 16px 0;
    width: 304px;
    border-right: 1px solid var(--color-footer-separator);
    /* min-height: 270px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 24px;
  }

  .footer-right-column {
    padding: 16px 0;
    width: 100%;
    max-width: 856px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .footer-title {
    display: flex;
    align-items: baseline;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--color-footer-title);
    text-decoration: none;
    font-weight: normal;
    transition: color 0.2s cubic-bezier(0.83, 0, 0.17, 1);
    gap: 12px;
    margin-bottom: 12px;
  }

  .footer-country {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

  .footer-list li {
    margin-bottom: 7px;
  }

  .footer-link:hover {
    color: var(--color-main)!important;
  }

  .footer-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-footer-text) !important;
    text-decoration: none !important;
    font-weight: normal;
    transition: color 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .footer-no-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-footer-text) !important;
    text-decoration: none !important;
    font-weight: normal;
    transition: color 0.2s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .social-media {
    margin-bottom: 32px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .footer-copyright {
    text-align: center;
    padding-bottom: 16px;
    font: normal 15px pf_highway_sans_prolightRg, arial, sans-serif;
    color: var(--color-footer-text);
  }

  @media (max-width: 768px) {
    .arrow-img {
      display: block !important;
    }

    .footer-row {    
      flex-direction: column-reverse;
    }

    .footer-right-column {    
      flex-direction: column;
    }

    .footer-left-column {    
      border-top: 1px solid var(--color-footer-separator);
      border-right: 0;
      width: unset;
    }

    .footer-info .footer-list:not(.social-media) {
      display: none;
    }

    .social-media {
      margin-bottom: 0 !important;
    }
  }

  /* FOOTER END */