
  
  /* ARROW TO TOP START */

  .arrow-to-top-button-container {
    display: flex;
    flex-direction: column;
    right: 1.25rem;
    bottom: 1.25rem;
    position: fixed;
    opacity: 0;
    z-index: 20;
  }

  .arrow-to-top-button {
    background-color: var(--color-third-main);
    color: rgb(255 255 255/var(--tw-text-opacity,1));
     display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .375rem;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    cursor:pointer;
    padding: 0.5rem;
  }

  .arrow-to-top-button-transform {
    transform: rotate(270deg);
  }

  .show {
    opacity: 1; 
    transition: opacity 1s, transform 1s;
  }

  /* ARROW TO TOP END */

  /* NAVGIATION START */

  .topnav {
    overflow: hidden;
    position: relative;
    align-items:center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    /* height: 9rem; */
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
  }

  .topnav .menu-icon, .lang-icon, .small-screen-menu {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
    cursor: pointer;
    padding: 0.5rem;
  }
  .topnav-buttons {
    display:flex; 
    align-items:center;
  }

  nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style-type: none;
    display: flex;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #646567;
    line-height: 16px;
    padding: 8px 10px;
    cursor: pointer;
  }

  nav ul li a:hover {
    background-color: var(--color-secondary-main);
    border-radius: 10px;
  }
  
  /* NAVGIATION END */

  
  /* IMAGE START */

  .logo-icon {
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  .lang-icon {
    color: black;
    text-decoration: none;
    font-size: 17px;
    display: block;
    cursor: pointer;
    padding: 0.5rem;
  }

  .logo-img {
    width:70px;
    height:70px;
  }
    
  .lang-img {
    height: 40px;
    width: 40px;
  }

  .menu-img {
    height: 30px;
    width: 30px;
  }

  /* IMAGE END */

  /* MENU START */

  .small-screen-menu {
    display: none;
  }

  .list-language-menu, .list-menu{
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity,1));
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity,1));
    border-radius: 10px;
    min-width: 5rem;
    /* margin-top: 1rem;
    right: 2.5rem; */
    margin-top: 8rem;
    position: absolute;
  }
  
  .list-language-menu {
    right: 3rem;
  }

  .list-menu {
    right: 6rem;
  }

  .item-language-menu {
    color: #646567;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    cursor: pointer;
  }
    
  .item-language-menu:first-child {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
    cursor: pointer;
    padding: 0.5rem;
  }

  .item-language-menu:last-child {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
    cursor: pointer;
    padding: 0.5rem;
  }

  .item-language-menu:hover {
    background-color: var(--color-secondary-main);
  }

  /* MENU END */

  @media (max-width: 768px) {
    /* MENU MEDIA START */

    .full-screen-menu {
      display:none;
    }

    .small-screen-menu {
      display: block;
    }
    
    /* MENU MEDIA END */
  }