  /* BASIC START */

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow: visible !important; /* Force visibility */
      font-family: 'Roboto', sans-serif;
  }

  :root {
    --color-footer-separator: #BAB9C5;
    --color-footer-text: #9897A9;
    --color-footer-title: #646567;
    --color-main: #17839d;
    --color-secondary-main: #e0f1f3;
    --color-third-main: #a6d7df;
  }
  
  body {
    background: linear-gradient(to left, #E3E3DF, #f0dabb, #E3E3DF);
    font-family: 'Roboto', sans-serif !important;
  }

  html {
    scroll-behavior: smooth;
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    font-family: 'Roboto', sans-serif;
    font-feature-settings:normal;
    font-variation-settings:normal;
    -webkit-tap-highlight-color:transparent
  }

  html {box-sizing: border-box;}
  .display-none {display:none!important;}
  .display-block {display:block!important;}

  .container {
    justify-content: center; 
    display: flex;
  }

  .container-inside {
    flex-direction: column;
    max-width: 1536px;
    width: 100%;
    display: flex;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* BASIC END */

  /* SPINNER START */

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .loading-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    backdrop-filter: blur(10px);
  }

  .logo img {
    width: 270px;
    height: 270px;
    animation: grow 2s ease-in-out infinite alternate;
  }

  .loading-text {
    font-size: 18px;
    font-weight: 600;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(223 193 113);
    animation: spin 1s ease infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }

  @keyframes grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
  }

  /* SPINNER END */

  /* ARROW TO TOP START */

  .show {
    opacity: 1; 
    transition: opacity 1s, transform 1s;
  }

  /* ARROW TO TOP END */

  /* IMAGE START */

  .down-arrow-img {
    height: 20px;
    width: 20px;
  }

  .duration-img, .price-img, .organiser-img, .location-img, .schedule-img, .people-img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    /* filter: brightness(0) saturate(100%) invert(64%) sepia(6%) saturate(574%) hue-rotate(201deg) brightness(94%) contrast(90%); */
  }

  /* IMAGE END */

  /* FILTER START */
  
  .filter-row-container {
    padding: 20px 12px;
    display: flex;
    justify-content: center;
  }

  .filter-row-card {
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }

  .filter-container-top {
    grid-template-columns: 5fr 9fr;
    display: grid;
  }

  .filter-container-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0 10px 0 !important;
    flex-direction: row;
    width: 100% !important;
  }

  .filter-button-container {
    padding: 10px;
    width: 100%;
    position: relative; 
  }

  .filter-button {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 15px 20px 15px 20px !important;
    width: 100%;
    line-height: normal;
    background: #e8e8e8 !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;  
    border-radius: 10px;
    cursor: pointer;
  }

  .filter-button-body {
    display:flex;
    justify-content:space-between;
    align-items: center;
  }

  .filter-button-main-description {
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    font-weight: normal;
    cursor: pointer;
    color: #404040;
  }

  .filter-button-secondary-description {
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%;
    /* font: normal 18px pf_highway_sans_pro_mediumRg,Arial,sans-serif; */
    user-select: none;
    color: #555;
  }

  .filter-button-main-description, .filter-button-secondary-description, .filter-button-img-conainer {
    margin: 0.2rem;
  }

  .filter-description {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
  }

  .filter-tag-list {
    display: flex; 
    justify-content: end;
    align-items: center;
    padding: 10px 0 10px;
    flex-wrap: wrap;
  }

  .filter-tag-list li {
    padding: 0 .625rem;
  }

  .filter-tag-list li a {
    color: inherit;
    text-decoration: none !important;
    font-size: 12px;
    border: 1px solid #CFD1D1;
    border-radius: 14px;
    opacity: 1;
    padding: 5px 10px 5px 10px;
  }

  .filter-tag-selected {
    background: #EBEDED;
    border-color: var(--color-main)!important;
  }

  .filter-dropdown-panel {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    z-index: 10; 
    left: 10px; /* offset by the container’s padding */
    width: calc(100% - 20px);
  }

  .filter-search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-bottom: 1rem;
  }

  .filter-search-bar input[type=text] {
    background-image: url('images/search_logo.png') !important;
    background-repeat: no-repeat !important;
    background-color: #FAFAFA !important;
    background-size: 14px 14px !important;
    background-position-x: 95% !important;
    background-position-y: 50% !important;
  }

  .filter-search-input {
    flex: 1;
    padding: 6px 8px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 14px !important;
    color: rgba(0,0,0,.75);
    height: 35px;
    line-height: 35px;
    max-height: 35px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding: 0 10px;
  }

  .filter-list-activities-top {
    top: 80px !important;
  }

  .filter-list-activities-top-when {
    top: 20px !important;
  }

  .filter-list-activities {
    overflow-y: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--color-main) #f1f1f1;
    margin-bottom: 30px;
  }

  .filter-list-activities li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
  }

  .filter-list-activities-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease;
    user-select: none;
  }

  .filter-list-activities li:hover {
    background-color: var(--color-secondary-main);
  }

  .filter-list-activities-item input[type="checkbox"] {
    display: none;
  }

  .filter-list-activities-item-checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-main);
    border-radius: 6px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  .filter-list-activities-item input[type="checkbox"]:checked + .filter-list-activities-item-checkmark {
    background-color: var(--color-main);
    border-color: var(--color-main);
  }

  .filter-list-activities-item input[type="checkbox"]:checked + .filter-list-activities-item-checkmark::after {
    content: '✓';
    color: white;
    font-size: 14px;
  }

  .filter-list-activities-item-text {
    /* font-size: 16px;
    color: #333; */
    color: #646567;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
  }

  /* Container below filter buttons */
  .filter-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
  }

  /* Single tile */
  .filter-tile {
    display: inline-flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 16px;
    padding: 6px 10px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
  }

  /* Close (X) button */
  .filter-tile-close {
    margin-left: 8px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    color: #777;
  }

  .filter-tile-close:hover {
    color: #000;
  }

  /* FILTER END */

  /* DESCRIPTION START */

  .description-container {
    width:35%;
    padding-top: 24px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .description-main {
    /* font-size: 39px;
    line-height: 37px;*/
    font-family: 'Roboto',Sans-serif;
    font-size: 37px;
    font-weight: 800;
    word-wrap: break-word;
    color: var(--color-main);
  }

  .description-secondary {
    /* font-size: 17px; */
    padding-top: 10px;
    font-family: 'Roboto',Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    color: var(--color-main);
  }

  /* DESCRIPTION END */

  /* BODY CARD LIST START */
  
  .body-card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    display: grid; 
    gap: 12px;
  }

  .body-card-wrapper {
    margin-bottom: 35px;
    padding: 0px 12px;
    overflow: hidden!important;
  }

  /* BODY CARD LIST END */

  /* SORT BY START */

  .sort-by-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 12px 10px;

    gap: 4px;
  }

  .sort-by-selection {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }

  .sort-by-label {
    font-size: 14px;
    line-height: 16px;
  }

  .sort-by-selection span {
    color: var(--color-main);
    font-size: 14px;
    line-height: 16px;
    padding: 4px 2px;
  }

  .sort-by-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 9rem;
    z-index: 10;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    gap: 4px;
  }

  .sort-by-menu div {
    padding: 8px;
  }

  .sort-by-menu-item {
    color: #646567;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    cursor: pointer;
  }

  .sort-by-menu div:hover {
    background-color: var(--color-secondary-main);
  }

  .sort-by-menu div:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .sort-by-menu div:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* SORT BY END */

  /* CAROUSEL START */

  @import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

  .swipper {
    height: 100% !important;
  }

  .card-list {
    margin-bottom: 30px !important;
    height:unset !important;
  }

  .card-wrapper {
    max-width: 1100px;
    /* margin: 0 60px 35px; */
    margin-bottom: 35px;
    padding: 20px 12px;
    overflow: hidden!important;
    height: 100%;
  }

  .card-list .card-item {
    list-style: none;
    transition: transform 0.3s ease-in-out; /* Smooth movement */
    margin-top: 15px;
  }

  ul.card-list > li.card-item:hover {
  /* .card-list .card-item:hover { */
    transform: translateY(-10px); /* Move up by 10px */
  }

  ul.card-list > li.card-item > a:hover {
  /* .card-list .card-item a:hover { */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .card-list .card-item .card-link {
    display: block;
    background: #fff;
    /* padding: 18px; */
    user-select: none;
    border-radius: 10px;
    text-decoration: none;
    /* border: 2px solid transparent; */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    height: 390px;
    flex-direction: column;
    display: flex;
    cursor: pointer;
  }

  .card-image-wrapper {
    overflow: hidden !important;
    border-radius: 10px 10px 0px 0px;
  }

  .card-link-body {
    display: flex; 
    flex-direction: column;
    flex: 1;
    padding: 16px 16px 8px 16px;
    gap: 10px;
  }

  .card-list .card-item .card-link:active {
    cursor: grabbing;
  }

  .card-list .card-item .card-link:hover {
    border-color: #5372F0;
  }

  .card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .card-list .card-link .badge {
    color: #5372F0;
    width: fit-content;
    padding: 8px 16px;
    font-size: 0.95rem;
    border-radius: 50px;
    font-weight: 500;
    background: #DDE4FF;
    margin: 16px 0 18px;
  }

  .card-list .card-link .badge-designer {
    color: #B22485;
    background: #F7DFF5;
  }

  .card-list .card-link .badge-marketer {
    color: #B25A2B;
    background: #FFE3D2;
  }

  .card-list .card-link .badge-gamer {
    color: #205C20;
    background: #D6F8D6;
  }

  .card-list .card-link .badge-editor {
    color: #856404;
    background: #fff3cd;
  }

  .card-list .card-link .card-title {
    color: #000;
    font-size: 1.19rem;
    font-weight: 600;
  }

  .card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
  }

  .card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372F0;
  }

  .card-title-info-schedule {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: var(--color-main);
    font-size: 15px;
    line-height: 24px;
    height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }

  .card-title-info {
    font-weight: normal;
    font-size: 1.5em;
    color: #7c248a;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282C35;
    font-size: 1.25em;
    line-height: 20px;
    max-height: 60px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    height: 60px;
  }

  .card-title-info-location {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666A73;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin: auto 0 0;
    padding: 0;
  }

  .card-wrapper .swiper-slide-button {
    color: #5372F0;
    margin-top: -35px;
  }

  .swiper-button-container {
    display: flex;
    justify-content: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: auto !important;
    bottom: -10px !important;
    width: 120px !important;
    height: 40px !important;
    color: #000 !important;
    position:relative !important;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: larger !important;
  }
  
  /* CAROUSEL END */

  /* CALENDAR START */

  .calendar-popup {
    position: absolute;
    top: 100%;
    right: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: white;
    padding: 16px;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .calendar-month {
    user-select: none;
  }

  .calendar-month h4 {
    text-align: center;
    margin-bottom: 10px;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    gap: 3px;
    justify-content: center;
  }

  .calendar-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
  }

  .calendar-day.disabled {
    color: #ccc;
    cursor: default;
  }

  .calendar-day.selected-start,
  .calendar-day.selected-end {
    /* background-color: #4caf50; */
    background-color: var(--color-main);
    color: white;
  }

  .calendar-day.in-range {
    /* background-color: #a5d6a7; */
    background-color: var(--color-secondary-main);
  }

  .calendar-day:hover:not(.disabled):not(.selected-start):not(.selected-end) {
    /* background-color: #c8e6c9; */
    background-color: var(--color-third-main);
  }

  .disabled-day {
    color: #999;            
    text-decoration: line-through;
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
  }

  /* CALENDAR END */

  /* Responsive media query code for small screens */
  @media (max-width: 768px) {

    /* CAROUSEL MEDIA START */

    .card-wrapper {
      margin-bottom: 0;
      margin-top: 0;
    }

    .card-wrapper .swiper-slide-button {
      display: none;
    }

    /* CAROUSEL MEDIA END */

    .body-row, .highlight-row {
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      width: unset;
    }

    /* FILTER MEDIA START */

    .filter-row {
      width: unset;
      margin-left: 10px;
      margin-right: 10px;
    }

    .filter-tag-list {
      justify-content: unset;
      padding: 10px;
      flex-wrap: wrap;
    }

    .filter-tag-list li {
      padding-left: 0;
      padding-right: .625rem;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .filter-container-top {
      grid-template-columns: 1fr;
    }

    .filter-container-bottom {
      flex-direction: column;
    }

    .filter-row-card {
      width: 100%;
    }

    /* FILTER MEDIA END */

    /* DESCRIPTION MEDIA START */

    .description-container {
      width: 100%;
    }

    .description-main {
      font-size: 39px;
      line-height: 37px;
      text-align: center;
      word-wrap: break-word;
    }

    .description-secondary {
      font-size: 17px;
      text-align: center;
      word-wrap: break-word;
    }
    
    /* DESCRIPTION MEDIA END */

    /* CALENDAR MEDIA START */

    .calendar-popup {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 10px;
      top: calc(100% + 300px);
      width: calc(100% - 20px);
    }

    /* CALENDAR MEDIA END */

    /* BODY CARD LIST MEDIA START */
    
    .body-card-list {
      grid-template-columns: 1fr;
    }

    /* BODY CARD LIST MEDIA END */

    /* SORT BY MEDIA START */

    .sort-by-container {
      display:flex;
      padding: 20px 12px;
    }

    /* SORT BY MEDIA END */
  }
  
