<head>
  <link rel="icon" type="images/jpg" href="images/thessivity_logo.jpg">
</head>
<!-- NAVIGATION START -->
<div class="topnav">
  <div class="logo-icon" id="logo-a">
      <img src="images/thessivity_logo.jpg" alt="Thessivity" class="logo-img">
  </div>

  <div class="full-screen-menu">
    <nav>
        <ul>
            <li><a id="home-a" data-i18n="homeTab">Home</a></li>
            <li><a id="activities-a" data-i18n="activitiesTab">Activities</a></li>
        </ul>
    </nav>
  </div>

  <div class="topnav-buttons">
    <div class="small-screen-menu" id="menu-button">
      <img src="images/menus_logo.png" class="menu-img" id="menu-button-img"></img>
    </div>
    <ul class="list-menu display-none" id="list-menu">
      <li class="item-language-menu" id="home-li" data-i18n="homeTab">Home</li>
      <li class="item-language-menu" id="activities-li" data-i18n="activitiesTab">Activities</li>
    </ul>
    <div class="lang-icon" id="lang-button">
      <img src="images/lang.png" class="lang-img" id="lang-button-img"></img>
    </div>
    <ul class="list-language-menu display-none" id="list-language-menu">
      <li class="item-language-menu" id="gr-li" data-i18n="grLanguage">GR</li>
      <li class="item-language-menu" id="en-li" data-i18n="enLanguage">ENG</li>
    </ul>
  </div>
</div>
<!-- NAVIGATION END -->

<!-- ARROW TO TOP START -->
<div class="arrow-to-top-button-container" id="arrow-to-top-button">
  <div type="button" class="arrow-to-top-button">
    <div>
      <img class="arrow-to-top-button-transform" src="images/uparrow_logo.png" width="24" height="24"></img>
    </div>
  </div>
</div>
<!-- ARROW TO TOP END -->