body {
  max-width: 100%;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.custom-body {
  overflow-x: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
}


@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}


* {
  padding: 0;
  margin: 0;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #181818;
  color: #909096;
  font-size: 25px;
  z-index:1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  color: #909096;
  padding: 16px;
  text-decoration: none;
}

li.nav-item a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.map-class, .birthday-class {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.15em;
}

.map-zone {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0; 
  margin-left: 11%;
  height: 20rem;
  width: 30%;
  margin-top: -15rem;
}
